---
http_interactions:
- request:
    method: post
    uri: https://app.omie.com.br/api/v1/geral/clientes/
    body:
      encoding: UTF-8
      string: '{"call":"UpsertClientesPorLote","param":[{"clientes_cadastro":[{"codigo_cliente_integracao":"CodigoInterno0001","email":"primeiro@cliente.com.br","nome_fantasia":"Primeiro
        Cliente","razao_social":"Primeiro Cliente  Ltda Me"},{"codigo_cliente_integracao":"CodigoInterno0002","email":"segundo@cliente.com.br","nome_fantasia":"Segundo
        Cliente","razao_social":"Segundo Cliente  Ltda Me"}],"lote":1}],"app_key":"38333295000","app_secret":"4cea520a0e2a2ecdc267b75d3424a0ed"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; encoding=UTF-8
      x-omie-request-id:
      - abf89df0-c7a5-11ea-bd8d-d38ccc75c5a8
      omieapi-warning:
      - 54283627 - Cliente alterado com sucesso!
      last-modified:
      - Thu, 16 Jul 2020 20:48:17 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"lote":1,"codigo_status":"0","descricao_status":"Ok!"}'
  recorded_at: Thu, 16 Jul 2020 20:48:17 GMT
recorded_with: VCR 6.0.0
