---
http_interactions:
- request:
    method: post
    uri: https://app.omie.com.br/api/v1/geral/clientes/
    body:
      encoding: UTF-8
      string: '{"call":"UpsertCliente","param":[{"codigo_cliente_integracao":"CodigoInterno0001","email":"primeiro@cliente.com.br","nome_fantasia":"Primeiro
        Cliente","razao_social":"Primeiro Cliente  Ltda Me"}],"app_key":"38333295000","app_secret":"4cea520a0e2a2ecdc267b75d3424a0ed"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; encoding=UTF-8
      x-omie-request-id:
      - 59c00870-c7a5-11ea-bac5-4badca71c123
      omieapi-warning:
      - 447708994 - Cliente alterado com sucesso!
      last-modified:
      - Thu, 16 Jul 2020 20:45:59 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"codigo_cliente_omie":447708994,"codigo_cliente_integracao":"CodigoInterno0001","codigo_status":"0","descricao_status":"Cliente
        alterado com sucesso!"}'
  recorded_at: Thu, 16 Jul 2020 20:45:59 GMT
recorded_with: VCR 6.0.0
